USE [TestDev]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 2/6/2025 5:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[NgayNhap] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 2/6/2025 5:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](max) NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[NgayNhap] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham_LoaiSanPham]    Script Date: 2/6/2025 5:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham_LoaiSanPham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[LoaiSanPhamId] [int] NOT NULL,
 CONSTRAINT [PK_SanPham_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([Id], [Ten], [NgayNhap]) VALUES (1, N'Loại sản phẩm 1', CAST(N'2025-02-06T17:35:48.0233333' AS DateTime2))
INSERT [dbo].[LoaiSanPham] ([Id], [Ten], [NgayNhap]) VALUES (2, N'Loại sản phẩm 2', CAST(N'2025-02-06T17:35:48.0233333' AS DateTime2))
INSERT [dbo].[LoaiSanPham] ([Id], [Ten], [NgayNhap]) VALUES (3, N'Loại sản phẩm 3', CAST(N'2025-02-06T17:35:48.0233333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([Id], [Ten], [Gia], [NgayNhap]) VALUES (1, N'Sản phẩm 1', CAST(8115.00 AS Decimal(18, 2)), CAST(N'2024-09-14T17:35:59.7000000' AS DateTime2))
INSERT [dbo].[SanPham] ([Id], [Ten], [Gia], [NgayNhap]) VALUES (2, N'Sản phẩm 2', CAST(2285.00 AS Decimal(18, 2)), CAST(N'2024-12-26T17:35:59.7000000' AS DateTime2))
INSERT [dbo].[SanPham] ([Id], [Ten], [Gia], [NgayNhap]) VALUES (3, N'Sản phẩm 3', CAST(9048.00 AS Decimal(18, 2)), CAST(N'2024-11-27T17:35:59.7000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham_LoaiSanPham] ON 

INSERT [dbo].[SanPham_LoaiSanPham] ([Id], [SanPhamId], [LoaiSanPhamId]) VALUES (1, 1, 10)
INSERT [dbo].[SanPham_LoaiSanPham] ([Id], [SanPhamId], [LoaiSanPhamId]) VALUES (2, 2, 11)
INSERT [dbo].[SanPham_LoaiSanPham] ([Id], [SanPhamId], [LoaiSanPhamId]) VALUES (3, 3, 15)
GO
SET IDENTITY_INSERT [dbo].[SanPham_LoaiSanPham] OFF
GO
ALTER TABLE [dbo].[SanPham_LoaiSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham_LoaiSanPham_LoaiSanPhamId] FOREIGN KEY([LoaiSanPhamId])
REFERENCES [dbo].[LoaiSanPham] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham_LoaiSanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham_LoaiSanPham_LoaiSanPhamId]
GO
ALTER TABLE [dbo].[SanPham_LoaiSanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham_SanPham_SanPhamId] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham_LoaiSanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham_SanPham_SanPhamId]
GO
